---
import Modal from "./Modal.astro"
import Users from "./icons/Users.astro"
import { team } from '../const/team'
---

<!-- <div class="mt-10 md:mt-20">
  <button class="flex justify-center items-center size-12 rounded-full p-5" id="button-team">
    <Users class="size-20"/>
  </button>
</div> -->

<section class="bg-[#333]/70 p-5 rounded-lg flex flex-col justify-center items-center gap-y-5">
  <h2 class="font-bold text-purple-400/90 text-center"> Integrantes del Equipo: </h2>
  <ul class="flex flex-col text-center justify-center items-center font-semibold">
    {
      team.map(({ name }) => (
        <li class="text-red-200/90">{name}</li>
      ))
    }
  </ul>
</section>

<!-- <Modal className='clip-dialog-2' id='close-dialog-2'>
  <section class="bg-[#333]/70 p-5 rounded-lg flex flex-col justify-center items-center gap-y-5">
    <h2 class="font-bold text-purple-400/90 text-center"> Integrantes del Equipo: </h2>
    <ul class="flex flex-col text-center justify-center items-center font-semibold">
      {
        team.map(({ name }) => (
          <li class="text-red-200/90">{name}</li>
        ))
      }
    </ul>
  </section>
</Modal>

<script>
  import { $ } from '../lib/dom-selector'

  const $button = $('#button-team') as HTMLButtonElement
  const $modal = $('.clip-dialog-2') as HTMLDialogElement
  const $close = $('#close-dialog-2') as HTMLDialogElement

  $button.onclick = () => $modal.showModal()

  $close.onclick = () => $modal.close()
</script> -->