---
import ArrowDown from './icons/ArrowDown.astro'
import ArrowLeft from './icons/ArrowLeft.astro'
import ArrowRight from './icons/ArrowRight.astro'
import ArrowUpLeft from './icons/ArrowUpLeft.astro'
---

<article class="flex justify-center items-center lg:hidden">
  <section class="grid grid-cols-3">
    <div class="row-start-1 row-end-2 col-start-2 col-end-3">
      <button class="flex justify-center items-center size-[75px] p-5 shadow-border-custom rounded-lg" id="button-up">
        <ArrowUpLeft class="-rotate-45"/>
      </button>
    </div>

    <div class="row-start-2 col-start-1 col-end-2">
      <button class="flex justify-center items-center size-[75px] p-5 shadow-border-custom rounded-lg" id="button-left">
        <ArrowLeft />
      </button>
    </div>

    <div class="row-start-2 col-start-3 col-end-4">
      <button class="flex justify-center items-center size-[75px] p-5 shadow-border-custom rounded-lg" id="button-rigth">
        <ArrowRight />
      </button>
    </div>

    <div class="row-start-3 col-start-2 col-end-3">
      <button class="flex justify-center items-center size-[75px] p-5 shadow-border-custom rounded-lg" id="button-down">
        <ArrowDown />
      </button>
    </div>
  </section>
</article>